<div class="container py-3">
<div class="input-group">
  <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
      <button class="btn btn-search" type="button"><i class="fa fa-search fa-fw"></i> Search</button>
      </span>
</div>
</div>

<div class="container py-3" *ngFor="let item of movieData">

    <div class="card">
      <div class="row ">
        <div class="col-md-3" >
            <img src="img-fluid d-block" [attr.src]="baseUrl+item.poster_path" alt="Image not found">
          </div>
          <div class="col-md-9 px-3">
            <div class="card-block px-2 py-2">
              <h4 class="card-title">{{item.title}}</h4>
              <p class="card-text">From &nbsp;{{item.release_date |date}}</p>
              <p class="card-text">{{item.overview}}</p>
              <p class="card-text"><strong>Rating</strong>:{{item.vote_average}}</p>
              <a href="#" class="btn btn-primary">Add to Favourite</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  

 